.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*OTP PIN*/

.otp-textbook {
    height: 20px;
    width: 50px;
    font-size: 20px;
    text-align: center;
}

/*progress-bar*/

.progress-bar-container {
       border: 1px solid dashed;
       padding-left: 600px;
       border-radius:initial;
}

.outer {
    width: 400px;
    border: 2px solid black;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    background-color: aliceblue;
}

.inner {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: 30px;
    background-color: aqua;
}

.outer-multiple {
    width: 400px;
    border: 2px solid black;
    height: 30px;
    background-color: aliceblue;
    overflow: hidden;
}

.inner-multiple {
    height: 30px;
    background-color: aqua;
    text-align: right;
    transition: 0.5s ease-in;
}

/*file-explorer*/
.file-explorer-container {
    border: 2px solid black;
    width: 400px;
    height: 300px;
    overflow: auto;
    text-align: center;
}

.file-explorer-container-filelist {
    width: 100%;
    height: auto;
    display: table;
}

.file-explorer-container-filelist-folder-contents {
    border-color: burlywood;
    border-width:2px;
    background-color: aqua;
    margin-left: 20px;
    padding-left: 100px;
}